body {
    background: no-repeat center url(imgs/bg-main-desktop.png);
    font-family: "IBM plex sans", sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.equalizer {
    align-self: flex-start;
    justify-self: flex-start;
}